:root {
  --accent-color: #2196f3;
  --white-color: #fff;
  --black-color: #000;
  --title-color: #212121;
  --subtitle-color: #757575;
  --footer-color:  #2F303A;
}
*, ::after, ::before {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--subtitle-color);
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  
  margin: auto 0;
  
}
.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  align-items: center;
  margin-bottom: 50px;
}
.logo-dark {
  color: var(--black-color);
}
.logo-light {
  color: var(--white-color);
}
.nav {
  display: flex;
}
.nav-list {
  display: flex;
  padding: 0;
  margin-left: 95px;
}
.nav-list li + li {
  margin-left: 50px;
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.line {
  height: 1px;
  background-color: #ECECEC;
}
.accent {
  color: var(--accent-color);
}
.nav-link:hover {
  color: var(--accent-color);
}
.header-link:hover {
  color: var(--accent-color);
}
.header-link:active {
  color: var(--accent-color);  
}
.header-address-list{
  display: flex;
  margin-left: auto;
  padding: 0;
}
.header-address-list li + li {
  margin-left: 40px;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--subtitle-color);
}
.hdr-cntr {
  display: flex;
}
.hero {
  background: #2F303A;
  text-align: center;
  height: 600px;
  width: 100%;
  margin-bottom: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hr-cntr {
  
  display: flexbox;
  padding-top: px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-top: 0;
  margin-bottom: 30px;
}
.hero-button { 
  font-family: 'Roboto';
  font-style: normal;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  color: var(--white-color);
  background: var(--accent-color);
  border-radius: 4px;
  padding: 10px 24px;
 
}
.btn {
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.features {
  margin-bottom: 100px;
}
.features-list {
  margin: 0;
  padding: 0;
  display: flex;
}
.features-item {
  flex: 1 1 50%;
}
.features-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  padding-bottom: 10px;
  margin: 0;
}
.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
  margin: 0;
}
.skills-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-align: center;
  margin-bottom: 50px;
}
.skills-list {
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 95px;

}
.skills-list > .skills-item {
  flex-basis: calc(100% / 3);
}
.skills-item + .skills-item {
  margin-left: 30px;
}

.team {
  background: #F5F4FA;
  margin-top: 95px;
  padding-bottom: 95px;
  padding-top: 95px;
}
.team-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-align: center;
  margin: 0;
}
.team-list {
  display: flex;
  margin-top: 50px;
  padding: 0;
  margin-bottom: 95px;
  justify-content: center;
}
.team-iteam {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
}
.skll-delt { 
  margin: 0;
}
.team-list > .skills-item {
  flex-basis: calc(100% / 4);
}
.team-list > .skills-item:last-child {
  margin: 0;
}
.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
  text-align: center;
  margin-bottom: 30px;
}
.footer {
  background: var(--footer-color);
  padding-bottom: 60px;
  padding-top: 60px;
  margin-top: 0;
}
.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em; 
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}
.footer-address-list {
  padding: 0;
  margin: 30px 0 0 0;
}
.footer-address-item {
  margin-bottom: 10px;
}
.footer-address-item:last-child {
  margin-bottom: 0;
}
.footer-address:hover {
  color: var(--white-color);
}
.footer-address:active {
  color: var(--white-color); 
}
.btn-list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 95px;
  margin-bottom: 50px;
}
.btn-item:not(:first-child) {
  margin-left: 10px;
}
.btn-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
  background: #F5F4FA;
  border-radius: 4px;
  border: 0.000001px;
  padding: 6px 22px 6px 22px;
}
.btn-nav-accent{
  background-color: var(--accent-color);
  color: var(--white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 0.000001px;
  padding: 6px 22px 6px 22px;
}
.btn-nav:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
}


.gallery-item {
  border: 1px solid #EEEEEE;
   margin-bottom: 30px;
}
.gallery-item {
  margin-right: 30px;
}
.gallery-item:nth-child(3n) {
  margin-right: 0;
}
.gallery-item:nth-child(n+7) {
  margin-bottom: 95px;
}
.gallery {
  padding: 0;
  margin: 0;
 display: flex;
 flex-wrap: wrap;
}
.gallery-subtitle {
 font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color); 
  margin: 20px auto 4px 24px;
}
.gallery-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
  margin: 4px auto 20px 24px;
}
